<%- include("header.ejs") %>
<%- include("nav.ejs") %>


<form action="/signin" method="post">
    <input type="text" name="username" placeholder="username">
    
    <input type="password" name="password" placeholder="password">
    <button>signin</button>
    <a href="/forget">forget password</a>
</form>

<%- include("footer.ejs") %>