<%- include("header.ejs") %>
<%- include("nav.ejs") %>

<div class="d-flex flex-column justify-content-center w-100 h-100">
 <h1 class="home">welcome to Expense Tracker Application</h1>
    
  </div>
  </div>
<%- include("footer.ejs") %>