<%- include("header.ejs") %>
<%- include("nav.ejs") %>

    <div id="container">
        <div class="top">
            <h1>Login Page</h1>
        </div>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="username" class="input">
            <input type="password" name="password" placeholder="Password" class="input">
            <button type="submit" class="input">submit</button>
                                                                                                                                                         
            <a href="/forget">Forget Password</a>
            <a href="/reset">Reset Password</a>
            
        </form>
        
    </div>
    
   
</body>
</html>







