<%- include("header.ejs") %>
<%- include("nav.ejs") %>
<div id="container">
    <div class="top">
        <h1>Reset password</h1>
    </div>
    
<form action="/reset" method="post">
        
    <input type="password" name="oldpassword" placeholder="oldpassword" class="input">
    <input type="password" name="newpassword" placeholder="newpassword" class="input">
    <input type="submit" class="input">
</form>

</div>
<%- include("footer.ejs") %>