<%- include("header.ejs") %>
<%- include("nav.ejs") %>
<div id="container">
    <div class="top">
        <h1>Send mail</h1>
    </div>
        <form action="/send-mail" method="POST">
            <input type="email" name="email" placeholder="Email" class="input" />
            <button class="input">Send Mail</button>
        </form>
        
        

</div>
<%- include("footer.ejs") %>