<%- include("header.ejs") %>
<%- include("nav.ejs") %>
<div id="container">
    <div class="top">
        <h1>Send mail </h1>
    </div>

<form action="/forget/<%= id%>" method="POST">
    <input type="number" name="token" placeholder="Otp here..." class="input"/>
    <input type="password" name="newpassword" placeholder="New Password" class="input" />
    <button class="input">Verify</button>
</form>

        

</div>
<%- include("footer.ejs") %>